@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4">秦文轩</h1>
        <p class="lead">来自陕西西安的 .NET 程序员，“新生代农民工”一枚。</p>
        <hr class="my-4">
        <p>MCP，.NET Framework 2.0 时代进入 .NET 生态的老 .NETer 了。</p>
        <p>目前工作主要涉及的技术方向：
            <ul>
                <li>基于 DevExpress WinForms 的客户端应用开发</li>
                <li>基于 ASP.NET Core 3.1 / 6.0 的应用服务开发</li>
                <li>基于 <a href="https://dapr.io">Dapr</a> 的云原生应用开发</li>
            </ul>
        </p>
    </div>
</div>
<div class="card">
    <div class="card-header">
        我的链接
    </div>
    <ul class="list-group">
        <li class="list-group-item">博客园: <a href="https://cnblogs.com/vxchin">cnblogs.com/vxchin</a></li>
        <li class="list-group-item">GitHub: <a href="https://github.com/vxchin">github.com/vxchin</a></li>
        <li class="list-group-item">Gitee: <a href="https://gitee.com/vxchin">gitee.com/vxchin</a></li>
    </ul>
</div>